name: Push docker Image to GHCR

on:
  push:
    branches:
      - airgapped  # Trigger on push to main branch, modify as needed

jobs:
  docker-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull Velero image from Docker Hub
        run: docker pull docker.io/bitnami/kafka:3.7.1-debian-12-r0

      - name: Tag image for GHCR
        run: docker tag docker.io/bitnami/kafka:3.7.1-debian-12-r0 ghcr.io/obmondo/dockerfiles/repository-mirror:3.7.1-debian-12-r0

      - name: Push image to GHCR
        run: docker push ghcr.io/obmondo/dockerfiles/repository-mirror:3.7.1-debian-12-r0
